.div-centred {
    text-align: center;
}


.rekommend_successModal {
    display: block;
    position: fixed;
    top: 55%;
    left: 15%;
    width: 300px;
    height: auto;
    padding: 5px 20px;
    border: 3px solid green;
    background-color: #EFE;
    z-index:1002;
    overflow: auto;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px;
    -moz-box-shadow: 5px 5px 10px #cfcfcf;
    -webkit-box-shadow: 5px 5px 10px #cfcfcf;
}

.rekommend_input_form {
    color: #000;
    font-family: sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 24px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    line-height: 24.5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: start;
    width: 600px;
}

.rekommend_submit_button {
    background-color: #0078E7;
    border-bottom-color: transparent;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: transparent;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: transparent;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 16px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    line-height: 16.5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    text-align: center;
    text-decoration: none;
    text-decoration-color: #FFF;
    text-decoration-line: none;
    text-decoration-style: solid;
    vertical-align: middle;
    white-space: nowrap;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
}


.rekommend_margin {
    text-align: right;
    width: 40px
} 

.rekommend-widget-admin-iframe {
    width:100%;
    min-height: 500px;
    border:2px solid;
}